@font-face {
  font-family: "BYekan";
  src: url("/public/fonts/BYekan-webfont.eot") format(eot);
  src: url("/public/fonts/BYekan-webfont.ttf") format(truetype);
  src: url("/public/fonts/BYekan-webfont.woff") format(woff);
  font-weight: normal;
  font-style: normal;
}
