/* body {
  text-align: center;
} */
/* button {
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  background-color: blueviolet;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
} */
